<footer class="footer pt-12 pb-12 mt-12">
     <div class="container text-center text-md-left">
          <div class="row">

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    </ul>
               </div>

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="#explore">Explore</a></li>
                         <ul class="list-unstyled" style="font-size: 0.75rem">
                              <li><a class="dropdown-item" href="@Url.Action("Concerts", "Event")">Concerts</a></li>
                              <li><a class="dropdown-item" href="@Url.Action("Fairs", "Event")">Fairs</a></li>
                              <li><a class="dropdown-item" href="@Url.Action("Sports", "Event")">Sports</a></li>
                              <li><a class="dropdown-item" href="@Url.Action("Meetings", "Event")">Meetings</a></li>
                              <li><a class="dropdown-item" href="@Url.Action("Voluntary", "Event")">Voluntary</a></li>
                              <li><a class="dropdown-item" href="@Url.Action("Others", "Event")">Others</a></li>
                         </ul>
                    </ul>
               </div>

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="@Url.Action("AddEvent", "Event")">Add Event</a></li>
                    </ul>
               </div>

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="@Url.Action("FAQ", "Home")">FAQ</a></li>
                    </ul>
               </div>


               <hr class="mb-12">

               <div class="text-center">
                    <h4>&copy; 2025. All Rights Reserved.</h4>
               </div>
          </div>
</footer>

